@import "~bootstrap/scss/bootstrap";

.banner {
    background-color: $primary;
    color: $light;
    padding: 2rem 6rem;

    span {
        font-size: 0.5rem;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $light;
    }
}
